@import url('https://fonts.googleapis.com/css2?family=Itim&family=Raleway:wght@200&display=swap');

:root {
    --color-pink: #E82D46;
    --color-vine: #830415;
    --color-rose: #F0CDAB;
    --color-pastel-pink: #F5938B;
    --color-brown: #4F381B;
    --color-creme: #F5F0DD;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

body {
    background-color: var(--color-creme);
}

.header,
.logo-nav {
    display: flex;
}

.header {
    background: var(--color-rose);
    padding: 0 2%;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 3rem 3rem;
    width: 100%;
    height: 7.5rem;
    box-shadow: 1px 2px 5px var(--color-pink);
    position: fixed;
    z-index: 3;
}

.header .logo-nav img {
    width: 15rem;
    height: 5rem;
}

.header .logo-nav .nav-bar {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    padding: 1.8rem;
    font-size: 1.8rem;
}

.header .logo-nav a {
    padding: 1.8rem;
    text-decoration: none;
    color: var(--color-brown)
}

.header .buttons {
    display: flex;
    margin-right: 2rem;
    padding: 0.5rem;
    align-items: center;
    font-size: 1.8rem;

}

.header .buttons button {
    margin: 1rem;
    padding: 0.6rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: 1px solid var(--color-vine);
    cursor: pointer;
}

.header .buttons a {
    text-decoration: none;
    color: var(--color-brown);
}

.header .sign-up a {
    color: var(--color-creme);
}

.header button img {
    width: 2rem;
    height: 2rem;
}

.header .buttons .car {
    background-color: transparent;
    border: none;
    display: flex;

}

.buttons span {
    margin-left: 0.3rem;
    color: var(--color-vine);
    cursor: default;
}

.header .buttons .car:hover {
    scale: 1.2;
    transition: 1s;
}

.header .buttons .login {
    background: var(--color-pastel-pink);
    color: var(--color-brown);
}

.header .buttons .sign-up {
    color: var(--color-creme);
    background: var(--color-vine);
}

.header .buttons .login:hover,
.header .buttons .sign-up:hover {
    background: var(--color-pink);
    color: var(--color-creme);
    transition: 1s;
    scale: 1.05;
}

.header .logo-nav a:hover {
    color: var(--color-pink);
    transition: 1s;

}

.header .toggle-btn {
    display: none;
}

.header .toggle-btn img {
    width: 2.4rem;
    cursor: pointer;
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    right: 2rem;
    height: 0;
    top: 6rem;
    width: 25rem;
    background-color: #f0cdab9d;
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    transition: height .25 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 24rem;
}

.dropdown-menu li {
    padding: 0.7rem;
    list-style: none;
    font-size: 1.8rem;
}

.dropdown-menu li a {
    text-decoration: none;
    color: var(--color-brown);
    padding: 0.8rem;
    border-radius: 1rem;
}

.dropdown-menu li a:hover {
    color: var(--color-pink);
    transition: 1s;
}

.dropdown-menu .car {
    border: none;
    background: transparent;
}

.dropdown-menu .login,
.dropdown-menu .sign-up {
    padding: 0.5rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    border: 1px solid var(--color-vine);
    cursor: pointer;
}

.dropdown-menu .login {
    background-color: var(--color-pastel-pink);
    color: var(--color-brown);
}

.dropdown-menu .sign-up {
    background-color: var(--color-vine);
    color: var(--color-creme);
}

.dropdown-menu .login:hover,
.dropdown-menu .sign-up:hover {
    background: var(--color-pink);
    color: var(--color-creme);
    transition: 1s;
    scale: 1.1;
}

.dropdown-menu .car:hover {
    scale: 1.2;
    cursor: pointer;
}

.cart {
    display: none;
    position: absolute;
    right: 0;
    height: 70vh;
    top: 6rem;
    background-color: var(--color-vine);
    padding: 2rem;
    color: var(--color-creme);
    border-radius: 3rem 0 0 3rem;
    width: 40rem;
    justify-content: center;
    overflow: hidden;
    transition: .3s;
    cursor: default;
    overflow-y: scroll;
}

.cart::-webkit-scrollbar {
    width: 1rem;

}

.cart::-webkit-scrollbar-track {
    background: var(--color-pastel-pink);
    border-radius: 1rem;
}

.cart::-webkit-scrollbar-thumb {
    background: var(--color-creme);
    border-radius: 0.5rem;
}

.cart.abrir {
    display: block;
}

.cart .header-cart {
    background-color: var(--color-pastel-pink);
    width: 100%;
    padding: 4%;
    border-radius: 2rem;
    color: var(--color-brown);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart .cart-item {
    font-size: 1.6rem;
    margin-top: 4rem;
    display: flex;
}

.cart .cart-item .selector-qtd {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}

.cart .cart-item .selector-qtd i {
    border-radius: 50%;
    margin-right: 0.2rem;
    border: 1px solid var(--color-creme);
    cursor: pointer
}

.cart .cart-item .cart-item-price {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.cart .cart-item input {
    margin: 1rem;
    width: 2.5rem;
    outline: none;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid var(--color-brown);
}

.cart-item img {
    width: 8.5rem;
}

.cart .cart-item-price {
    margin: 0.5rem;
}

.cart .btn-delete {
    margin-top: 2rem;
    width: 6rem;
    cursor: pointer;
}

.cart .btn-delete i {
    pointer-events: none;
}

.cart-total {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    flex-direction: column;
}

.cart-total .your-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.cart-total .your-total strong {
    margin: 0.5rem;
}

.cart .cart-price-total {
    font-weight: bold;
    font-size: 1.8rem;
}

.cart-total .to-pay {
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    border: 1px solid var(--color-pink);
    background-color: var(--color-pastel-pink);
    text-decoration: none;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    color: var(--color-brown);
    font-weight: bold;
}

.cart-total .to-pay img {
    width: 2rem;
    height: 2rem;
}

.cart-total .to-pay:hover {
    cursor: pointer;
    scale: 1.05;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1)
}

.content {
    background-image: url("../imgs/background-cakes.png");
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.content .card {
    background-color: var(--color-rose);
    width: 70%;
    height: 75%;
    margin-top: 10rem;
    border: 2px solid var(--color-pastel-pink);
    border-radius: 2rem;
    box-shadow: 0.1rem 0.1rem 0.8rem 0.2rem rgba(197, 16, 40, 0.8);
    color: var(--color-brown);
}

.content .header-card-cad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-pastel-pink);
    font-size: 2rem;
    border-radius: 2rem 2rem 0 0;
    font-weight: bold;
    cursor: default;
    padding: 0.8rem;
    text-shadow: 0.1rem 0.25rem 0.4rem rgba(0, 0, 0, 0.404);
}

.content .form-cadastro {
    margin: 3rem;
    font-size: 1.8rem;
}

.form-cadastro .form-dados {
    margin: 2rem 2rem 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-cadastro .form-dados .rotulo {
    margin-right: 3rem;
    justify-content: left;
    width: 6rem;
    display: flex;
    align-items: center;
}

.form-dados .rotulo img {
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
}

.form-cadastro .form-dados input {
    width: 60%;
    margin-left: 5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    outline: none;
    font-size: 1.8rem;
    border: 0.1rem solid #e2b2ad;
    padding: 0.8rem;
}

.rotulo label[for="arquivo"] {
    background-color: #E82D46;
    padding: 1rem;
    border-radius: 2rem;
    color: var(--color-creme);
    cursor: pointer;
    margin-right: 2rem;
}

.rotulo label[for="arquivo"]:hover{
    background-color: var(--color-vine);
    transition: 1s;
}

.rotulo label[for="arquivo"],
.rotulo p {
    margin-left: 2rem;
}

.rotulo p {
    margin-left: 2rem;
}

.rotulo input[type="file"] {
    display: none;
}

.form-dados #arquivo {
    border: none;
}

.card .botoes-form {
    display: flex;
    justify-content: center;
}

.card .botoes-form button{
    margin: 0 1rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid var(--color-vine);
}

.card .botoes-form button:nth-child(1){
    background-color: var(--color-pastel-pink);
}

.card .botoes-form button:nth-child(2){
    background-color: var(--color-vine);
  
}

.card .botoes-form button:nth-child(2) a{
    color: var(--color-creme);
    text-decoration: none;
   
}

.card .botoes-form button:nth-child(1):hover{
    scale: 1.05;
    transition: 1s;
    background-color: var(--color-pink);
}

.card .botoes-form button:nth-child(2):hover{
    scale: 1.05;
    transition: 1s;
    background-color: var(--color-pink);
}

.footer {
    background: var(--color-rose);
    align-items: center;
    justify-content: space-between;
    border-radius: 3rem 3rem 0 0;
    width: 100vw;
    position: relative;
    flex-direction: column;
    display: flex;
    box-shadow: 1px -2px 5px var(--color-pink);
    padding: 2rem 0rem;
}

.footer .container-footer {
    display: flex;
}

.footer .logo-footer img {
    width: 18rem;
    margin: 0 auto;
}

.footer .container-footer .data-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem;
}

.container-footer .data-footer img {
    width: 3rem;
    height: 3.2rem;
    margin: 1rem;
}

.data-footer>p {
    font-size: 1.8rem;
    color: var(--color-brown);
    text-align: center;
    width: 20rem;
}

@media(max-width: 768px) {

    .header .logo-nav .nav-bar,
    .header .buttons {
        display: none;
    }

    .header .toggle-btn,
    .header .toggle-btn img {
        display: block;
    }

    .dropdown-menu {
        display: flex;
    }

    .content .card{
        height: 77%;
    }
    
    .content .card .header-card-cad, 
    .content .card .form-cadastro,
    .form-cadastro .form-dados,
    .card .botoes-form button{
        font-size: 1.6rem;
        margin: 0.5;
    }

    .footer .container-footer .data-footer img {
        width: 2rem;
        height: 2rem;
    }

    .logo-footer img {
        width: 18rem;
    }

    .data-footer p {
        font-size: 1.4rem;
        width: 10rem;
    }

    .cart {
        margin-right: -100vw;
    }

}